.custom-list-item {
  list-style-type: none; /* Use the custom style */
  padding-left: 2rem; /* Add spacing between marker and text */
  position: relative;
  font-size: 16px; 
}
  
.custom-list-item::before {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  border: 3px solid #bc46c9;
  top:7px;
  left: 0;
  border-radius: 50%;
}

.second-custom-list-item {
  list-style-type: none; /* Use the custom style */
  padding-left: 2rem; /* Add spacing between marker and text */
  position: relative;
  font-size: 18px; 
}
  
.second-custom-list-item::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url(../../public/check.svg);
  top:7px;
  left: 0;
}